body {
    background: #527318;
}

/* Color Scheme
    #ffe75e
    #feb72b
    #899857
    #527318
*/

header {
    color: #feb72b;
    text-align: center;
}

.Container {
    height: 100vh;
    border: 5px solid #527318;
}

.Graph {
    border: 3px solid #feb72b;
    display: grid;
    background: #899857;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 50px 600px 50px;
}

.Graph-header {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
}

.Graph-content {
    grid-row: 2;
    grid-column: 2;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Graph-bar {
    background: #e7c710;
    height: 70px;
    border: 2px solid grey;
    display: grid;
    align-items: center;
    justify-content: center;
}

.Graph-bar:hover {
    background: #527318;
    transition: 1.3s;
    box-shadow: 5px 5px 3px black;
    padding: 10px;
    font-size: 30px;
    color: #feb72b;
}